.header {
    z-index: 2;
    height: 60px;
    background-color: #2C0803;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    padding-right: 16px;
}

.header__navbar {
    display: inline-flex;
    align-items: center;
}

.header__nav-list {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--white-color);
    list-style: none;
}

.header__nav-item {
    display: inline-block;
    padding: 0 16px;
}

.header__nav-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
}

.header__nav-item-link:hover {
    color: red;
}



.nav-login {
    color: var(--white-color);
    font-size: 1.6rem;
    border: 2px solid #771305;
    border-radius: 3px;
    padding: 10px 12px;
    align-self: center;
    cursor: pointer;
    margin-right: 20px;
}

.nav-login:hover {
    background-color: #771305;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    margin: auto;
    animation: modalFadeIn ease 0.4;
}

.modal-content-inner {
    background-color: #fff;
    border-radius: 5px;
    /* height: 470px; */
    width: 400px;
    padding: 12px 20px;
    font-size: 1.6rem;
    animation: modalFadeIn ease 0.4;
}

label[class="username"],
label[class="password"] {
    font-size: 1.7rem;
    display: block;
    padding: 4px 0;
}

input[name="username"],
input[name="password"] {
    display: block;
    padding: 12px;
    width: 375px;
    font-size: 1.6rem;
    right: 0;
    border: none;
    border-radius: 3px;
}

.modal-heading {
    
}

.inputAccount {
    width: 100%;
    padding: 2px 0 12px;
}

.login-btn {
    margin: 12px 0;
    display: flex;
    width: 380px;
    right: 0;
    background-color: red;
    border: none;
    padding: 8px 12px;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    border-radius: 3px;
}

.login-btn:hover {
    opacity: 0.5;
}

.login-sai {
    display: none;
}

@keyframes modalFadeIn {
    from { 
        opacity: 0;
        transform: translateY(-100px);

    } to { 
        opacity: 1;
        transform: translateY(0);
    }
}